@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: $bg-darkest;
  color: $text-normal;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Scrollbar styling
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $bg-darkest;
  border-radius: $radius-sm;
  
  &:hover {
    background: darken($bg-darkest, 5%);
  }
}

// Input/Button reset
button, input, textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  color: inherit;
}

button {
  cursor: pointer;
  
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

// Link styling
a {
  color: $text-link;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

// Image default
img {
  display: block;
  max-width: 100%;
}