@use '../base/variables' as *;

body {
  height: 100vh;
  overflow: hidden;
  transition: background $transition-normal;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}