// ============================================
// BASE - ChattyChat
// ============================================

body {
  background: $light-bg-body;
  height: 100vh;
  overflow: hidden;
  @include smooth-transition(background);
  
  &.dark-mode {
    background: $dark-bg-body;
  }
}

.app {
  height: 100vh;
  @include flex-column;
  
  &--logged {
    padding: 0;
  }
  
  &--login {
    @include flex-center;
    padding: $spacing-xl;
  }
}